/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: whitesmoke
    color: #333;
}

header {
    background-color: #072169;
    color: #fff;
    padding: 1em;
    max-height: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    text-decoration: underline;
}

/* Main Section Styles */
main {
    padding: 2em;
}
figure img {
    width: 40vh;
}

h1 {
    color: #333;
    font-size: 2em;
    margin-bottom: 1em;
}

h2 {
    color: #444;
    font-size: 1.5em;
}

section {
    margin-bottom: 3em;
}

ul {
    padding-left: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

td {
    background-color: #f9f9f9;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-top: 1em;
}

label {
    margin-bottom: 0.5em;
    font-weight: bold;
}

input, textarea {
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 1em;
    background-color: #072169;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

/* Footer */
footer {
    text-align: center;
    background-color: #072169;
    color: #fff;
    padding: 1em;
}
